@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=fallback');

@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/range-slider.css';
@import 'additional-styles/toggle-switch.css';
@import 'additional-styles/theme.css';

@import 'tailwindcss/utilities';

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
    .rtl {
        direction: rtl;
    }

    .mobile {
        background-image: url('images/IMG_8105.jpeg');
    }

    .desktop {
        background-image: url('images/Desktop-Stripe-integration-2.png');
    }
}

@media (min-width: 769px) {
    .mobile {
        background-image: none;
    }
}

@media (max-width: 768px) {
    .desktop {
        background-image: none;
    }
}

/* Ensure body and html take full height */
html,
body {
    height: 100%;
    margin: 0;
}

/* See Alpine.js: https://github.com/alpinejs/alpine#x-cloak */
[x-cloak=""] {
    display: none;
}

/* Ensure the main container flexes correctly */
.flex-col.min-h-screen.overflow-hidden {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* This should keep your page size to the viewport height */
    overflow: hidden;
    /* Prevent any part of the flex items from causing scrolling */
}

/* Adjustments for the main content area */
.flex-grow.flex {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    /* Adding overflow hidden here to prevent any internal content from causing scrolling */
}

/* Responsive image styling adjustments */
img {
    width: 100%;
    height: auto;
    /* Adjusted to 'auto' to maintain aspect ratio without explicitly forcing height */
    object-fit: cover;
    /* Maintain this to ensure coverage */
    max-height: 100vh;
    /* Prevent the image from being taller than the viewport */
}

.modal-overlay {
    position: fixed;
    /* Ensure the overlay is positioned over the whole screen */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    /* High z-index to make sure the modal is on top of other content */
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
}


.modal-content {
    background-color: #2c2c2e;
    /* Dark background */
    border-radius: 14px;
    /* Rounded corners */
    padding: 20px;
    color: white;
    /* White text */
}

.modal-header {
    font-size: 24px;
    /* Large text for the header */
    font-weight: bold;
    /* Bold font weight for the header */
    margin-bottom: 8px;
    /* Spacing after the header */
}

.modal-body {
    font-size: 16px;
    /* Standard text size for the body */
}

.modal-footer {
    margin-top: 20px;
    /* Spacing before the footer */
}

.input {
    background-color: #3a3a3c;
    /* Slightly lighter background for inputs */
    border: none;
    /* No border for inputs */
    color: white;
    /* White text for inputs */
    margin: 8px 0;
    /* Margin for spacing between inputs */
    padding: 12px;
    /* Padding inside inputs */
    border-radius: 8px;
    /* Rounded corners for inputs */
}

.button {
    background-color: #0a84ff;
    /* Blue background for buttons */
    color: white;
    /* White text for buttons */
    border: none;
    /* No border for buttons */
    padding: 12px;
    /* Padding inside buttons */
    margin: 8px 0;
    /* Margin for spacing between buttons */
    border-radius: 8px;
    /* Rounded corners for buttons */
    font-weight: bold;
    /* Bold font weight for buttons */
    text-align: center;
    /* Center text in buttons */
    display: block;
    /* Display block to allow width to be set */
    width: 100%;
    /* Full width buttons */
}

.google-button {
    background-color: #ffffff;
    /* White background for Google button */
    color: #000000;
    /* Black text for Google button */
    /* Add other styles like a Google logo and additional padding/margins as needed */
}

.checkbox-container {
    display: flex;
    /* Use flex for alignment */
    align-items: center;
    /* Center items vertically */
    margin: 8px 0;
    /* Margin for spacing */
}

.checkbox {
    margin-right: 8px;
    /* Spacing after the checkbox */
}